<%= render 'messages/errors' %>

<div id="new-text-form">
  <%= form_for @message, remote: true do |f| %>
    <%= f.label :to %>
    <%= f.text_field :to, value: @contact.phone %>
    <%= f.label :from %>
    <%= f.text_field :from, value: current_user.phone %>
    <%= f.label :body %>
    <%= f.text_field :body %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit %>
  <% end %>
</div>
