<%= render 'messages/errors' %>

<div id="new-text-form">
  <%= form_for @message, remote: true do |f| %>
    <% if @contact %>
        <%= f.hidden_field :to, value: @contact.phone %>
        <%= f.text_field :body, placeholder: "New text to #{@contact.name}" %>
    <% else %>
      <div class="form-group">
        <input name="to[]" placeholder="Recipient's number"/>
        <button type="button" id="new-recipient" class="btn btn-primary btn-sm">Add Recipient</button>
      </div>
      <div class="form-group">
        <span id="multiple-recipients"></span>
      </div>
      <div class="form-group">
        <%= f.text_field :body, placeholder: "Enter your text here" %>
      </div>
    <% end %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :from, value: current_user.phone %>
        <%= f.submit %>
  <% end %>
</div>
