<%= render 'messages/errors' %>

<div id="new-text-form">
  <%= form_for @message, remote: true do |f| %>
    <% if @contact %>
        <%= f.hidden_field :to, value: @contact.phone %>
    <% else %>
      <div class="form-group">
        <%= f.text_field :to, placeholder: "Send to..." %>
      </div>
    <% end %>
      <div class="form-group">
        <%= f.text_field :body, placeholder: "Enter your text here" %>
      </div>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :from, value: current_user.phone %>
        <%= f.submit %>
  <% end %>
</div>
