<h1><%= @user.email %></h1>
<p><%= link_to "edit profile", edit_user_registration_path(current_user) %></p>

<div class="row">
  <div class="col-sm-6">
    <%= render 'messages/form' %>

    <br><br><hr>
    <ul>
    <h3>
      All Text Messages
    </h3>
      <% @messages.each do |message| %>
        <li><%= link_to message.body, message_path(message) %> - Sent: <%= message.created_at.strftime("%m/%d/%Y %l:%M %p") %></li>
      <% end %>
      <span id="message-list"></span>
    </ul>

  </div>

  <div class="col-sm-6" id="contacts-box">
    <h3>
      Contacts
    </h3>
      <ul>
        <% current_user.contacts.each do |contact| %>
          <li><%= link_to contact.name, contact_path(contact) %></li>
        <% end %>
      </ul>
  </div>
</div>
