<h1><%= @contact.name %></h1>

<h3>Phone: <%= @contact.phone %></h3>

<%= render 'messages/form' %>
<hr>
<ul>
  <h3>
    Text History
  </h3>
  <% @messages.each do |message| %>
    <li><%= link_to message.body, message_path(message) %> - Sent: <%= message.created_at.localtime.strftime("%m/%d/%Y %l:%M %p") %></li>
  <% end %>
  <span id="message-list"></span>
</ul>
<hr>

<h4>Back to all <%= link_to 'Contacts', contacts_path %></h4>



