<!DOCTYPE html>
<html>
<head>
  <title>Texter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>



<body>
  <div class="navbar navbar-inverse">
      <a class="navbar-brand" href="/">Texter App</a>
      <% if user_signed_in? %>
        <%= link_to "Log Out", destroy_user_session_path, method: "delete", class: "navbar-text pull-right" %>
          <%=link_to current_user.email, edit_user_registration_path(current_user), class: "navbar-text pull-right" %>
        <div class="navbar-text pull-right">
          Logged in as
        </div>
          <%=link_to "New Contact", new_contact_path, class: "navbar-text pull-right" %>
          <%=link_to "Contacts", contacts_path, class: "navbar-text pull-right" %>
      <% else %>
        <%= link_to "log In", new_user_session_path, class: "navbar-text pull-right" %>
        <%= link_to "sign Up", new_user_registration_path, class: "navbar-text pull-right" %>
      <% end %>
      </ul>

  </div>
  <div class="container">
    <%= flash[:notice] %>
    <%= yield %>
  </div>
</body>
</html>
